/**
 * Developer: Imad Hadi Hasan
 * Twitter: @imadmasifi
 * Date: 2015-06-01
 */

body,*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#game{
    width: 614px;
    margin:2px auto;
}
#game_board{
    box-sizing: border-box;
    float: left;
    width: 614px;
    height: 614px;
    border: 5px solid #ccc;
    margin: 0px auto;
    padding: 2px;
}
.blocks{
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 60px;
    height:60px;
    display:inline-block;
    vertical-align: bottom;
    text-align: center;
    font-size: 16pt;
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    line-height: 60px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;  

}
.blocks::after {
    content: " ";
    float: left;
    position: absolute;
    display:inline-block;			
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background: rgba(250,250,250,0.1);
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.07) ,
                2px 2px 0px 1px rgba(0,0,0,0.07) ,
                3px 3px 0px 1px rgba(0,0,0,0.07) ,
                4px 4px 0px 1px rgba(0,0,0,0.07) ,
                5px 5px 0px 1px rgba(0,0,0,0.07) ; 
    top: 10px;
    left: 10px;
}

.blocks:hover{
    opacity: 0.7;
}
.col{
    margin: 0px;
    max-width: 60px;
    height: 600px;
    float: left;
    vertical-align: bottom;
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
#game_head{
    float: left;
    padding:5px 0px;
    width: 100%;
}
#score_cont{
    float: left;
    width: 185px;
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.1) inset;
}
#score_cont #score{
    text-align: center;
    width: 85px;
    display: inline-block;
    padding: 10px;
    background: #eee;
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.1) inset;
}
#score_cont span{
    text-align: center;
    width: 60px;
    display: inline-block;
    padding: 10px;
    background: #fc0;
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.1) inset;
}
#temp_score_cont{
    float: right !important;
    text-align: center;
    display: none;
    padding: 10px;
    width: 200px;
    background: #eee;
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.1) inset;
}
#sound{
    font-size: 1em;
    text-align: center;
    padding: 10px;
    width: 200px;
    background: #fc0;
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.1) inset;
}
#game_control{
    padding: 0px;
    float: left;
    width: 120px;
    margin: 0 10px;
}
#game_control h3{
    font-size: 1em;
    box-sizing: border-box;
    padding: 10px;
    width: 120px;
    background: #eee;
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.1) inset;
}

#game_control #sound, #game_control h3{
    margin: 5px 0px;
}
#game_control h3{
    width: 120px;
    text-align: center !important;
}
#histogram{
    width: 100px;
    height: 170px;
    position: relative;
    vertical-align: top;
    float: left;
    padding: 10px;
    box-shadow:0px 0px 0px 5px rgba(0,0,0,0.1) inset;
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.bars{box-sizing: border-box;
    display: block;
    width: 20px;
    float: left;  
    line-height: 1.6em;
    text-align: center;
    font-size: 9pt;
    text-align: center;
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    /* box-shadow:0px 0px 0px 5px rgba(0,0,0,0.1) inset; */
    color: #fff;
    position: relative;
}
.bars span{
    content: " ";
    position: relative;
    display: block;
    background-color: inherit;
    box-shadow: 0px 0px 20px inset rgba(0,0,0,.2);
    border-radius: 5px;
    height: 20px;
    width: 100%;
    top: -10px;
    z-index: 0;
}
#game_control #sound{
    width: 120px;
    padding: 10px;
}
